<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	html {
		font-size: 16px;
	}
	.search {
		display: block;
		width: 80%;
		margin: 0 auto;
		font-size: 1.5 rem;
		padding: 10px;
	}
	.js-results {
		width: 80%;
		margin: ;
		font-size: ;
		padding: ;
	}
	</style>
	<title>Weather Forecast</title>
</head>
<body>
	<input type="text" placeholder="Search Reddit ..." class="js-search">
	<div class="results"></div>
	<script type="underscore/template" id="js-results" class="search">
		<h2>
			<a href="<%= url %>" target="_blank"><%= title %></a>
		</h2>
	</script>
	<script type="text/javascript" src="bundle.js"></script>
</body>
</html>